@font-face {
  font-family: 'arial_italic';
  src: url('../fonts/arial_italic.ttf');
  font-style: italic;
  font-weight: normal;
}
.header {
  width: 1366px;
  height: 700px;
  margin: 0 auto;
  background: url(../img/header1.jpg) no-repeat;
}
.header p {
  font-size: 50px;
  color: #171717;
  text-align: center;
}
.nav {
  padding-top: 105px;
}
